# Use this file to keep certain files from being versioned (covered in the GitHub part of the course).
# Exlucing the Rhistory
*.Rhistory
*.Rproj
# Excluding Rdata
*.Rdata

# Excluding tsv
*.tsv

# Excluding csv' s
*.csv

# Excluding plots
*.png
*.jpeg
.Rproj.user

# Excluding log
*.log

# Excluding pdf
*.pdf

